/*
Title: Sorting Visualizer
Author: Tong Yang
Email: tongyang80@yahoo.com
Persons: none
Online Sources: 
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-color: lightskyblue;
    margin: 0;
}

nav {
    padding: 0% 5%;
    color: tomato;
    background-color: moccasin;
    display: grid;
    grid-template-columns: 45% 50%;
    height: 200px;
}

.adjustments {
    display: grid;
    grid-template-columns: 35% 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#arrayGeneration {
    margin-top: -5%;
    margin-bottom: 5%;
    margin-left: -20%;
    margin-right: -20%;
}

.algoButtons {
    margin-top: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.navHeading {
    display: inline-block;
    font-size: 70px;
    margin-left: -30%;
}

button {
    background-color: transparent;
    border: none;
    margin: 5% 0%;
    padding: 15px;
}
button:hover {
    color: white;
    cursor: pointer;
}
  
.arrayContainer {
    margin: 0;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    transition: 3s all ease;
}

.flex-item{
    margin: 0 1px;
    border: 1pt solid black;
    background: grey;
    width: 10px;
    transition: 0.1s all ease;
}
